<!doctype html>
<html>
<head>
	<title> ADMIN - LOGIN </title>
</head>
<body>
	<form method="post">
	<fieldset>
		<legend> Admin Login </legend>
		<table>
			<tr>
				<td><label> ID </label></td>
				<td><input type="text" name="admin_id" /></td>
			</tr>
			<tr>
				<td><label> PW </label></td>
				<td><input type="password" name="admin_pw" /></td>
			</tr>
		</table>
		<br>
		<input type="submit" value="Login" />
	</fieldset>
	</form>
</body>
</html>
