<% layout('layout') -%>

<div class="container main-body">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">야한 시(詩) 쓰기
				<small>Subheading</small>
			</h1>
		</div>
	</div>
	<div class="container" style="text-align: right; margin-bottom: 20px">
		<a href="/write" style="margin-right:50px">
			<button type="button" class="btn btn-default" style="center">글쓰기</button>
		</a>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div>
						<div class="panel-body">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="/destroyall">
		<button class="btn btn-default" style="margin-top:15px">모두삭제</button>
	</a>
</div>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
