<% layout('layout') -%>
<!-- LOGIN FORM -->
<div class="container main-body">
	<!-- FORGOT PASSWORD FORM -->
	<div class="text-center" style="padding:50px 0">
		<div class="logo">forgot password</div>
		<!-- Main Form -->
		<div class="login-form-1" style="border:5px solid #efefef;">
			<form id="forgot-password-form" class="text-left">
				<div class="etc-login-form">
					<p>When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
				</div>
				<div class="login-form-main-message"></div>
				<div class="main-login-form">
					<div class="login-group">
						<div class="form-group">
							<label for="fp_email" class="sr-only">Email address</label>
							<input type="text" class="form-control" style="border-bottom: 2px solid #efefef" id="fp_email" name="fp_email" placeholder="email address">
						</div>
					</div>
					<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
				</div>
				<div class="etc-login-form">
					<center>
						<table class="Beforelogin">
						  <tr>
						    <td style="border-right:1px #aaaaaa solid; padding-right:17px">
						    	<a href="/login" style="color: #aaaaaa">로그인</a>
						    </td>
						    <td style="padding-left:15px">
						    	<a href="/agreement" style="color: #aaaaaa">회원가입</a>
						    </td>
						  </tr>
						</table>
					</center>
				</div>
			</form>
		</div>
		<!-- end:Main Form -->
	</div>
</div>
